body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(150deg, rgb(226, 249, 255), rgb(0, 197, 252));
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(236, 251, 253);
    border-radius: 10px; 
}

.formulario h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .datos{
    position: relative;
    border-bottom: 2px solid rgb(221, 221, 221);
    margin: 30px 0;
}

.datos input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.datos label{
    position: absolute;
    left: 5px;
    top: -33px;
    color: #5e5e5e;
    transform: translateY(50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.olvidadar{
    text-align: center;
    margin: -5px 0px 20px 5px;
}

.olvidadar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(150deg, rgb(226, 249, 255), rgb(0, 150, 250));
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: black;
    transition: .5s;
}

.redirigir{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.redirigir a{
    text-decoration: none;
}

.redirigir a:hover{
    text-decoration: underline;
}