* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

header {
    height: 70px;
    z-index: 100;
    position: relative;
    display: flex;
    width: 100%;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(10deg, rgb(226, 249, 255), rgb(0, 102, 131));
    color: #fff;
}

.logo {
    margin-left: 50px;
    text-decoration: none;
    color: black;
}

.logo:hover {
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.cont-ul {
    right: 0;
    display: flex;
    position: absolute;
    top: 3px;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

ul a {
    text-decoration: none;
    color: white;
}

ul a:hover {
    text-decoration: none;
    color: white;
}

li {
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease 0s;
}

li:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.ul-second {
    position: absolute;
    display: none;
    transform: translateY(20px);
}

.ul-second > a > li {
    border-bottom: solid 1px #fff;
    text-align: center;
    background: linear-gradient(90deg, rgb(155, 233, 255), rgb(0, 102, 131));
    padding: 20px;
    transform: translateX(-52px);
}

.ul-second > a > li:hover {
    background: linear-gradient(180deg, rgb(155, 233, 255), rgb(0, 149, 190));
}

.nosotros:hover > .ul-second {
    display: block;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .logo {
        margin-left: 20px;
    }

    .cont-ul {
        margin-right: 0px;
        top: 0px;
    }

    ul {
        top: 60px;
        background: linear-gradient(10deg, rgb(226, 249, 255), rgb(0, 102, 131));
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .ul-second{
        background: transparent;
    }

    ul li {
        width: 80%;
        text-align: center;
    }

    ul li a {
        background: white;
        width: 80%;
        text-align: center;
    }

    .nosotros {
        position: relative;
    }

    .nosotros:hover > ul {
        background-color: transparent;
        left: 20px;
        width: 100%;
        top: 25px;
    }

    .ul-second > a > li {
        transform: translateX(0px);
    }
}
