/*Dar forma al header general*/
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}

.separar{
    margin-top: 70px;
}

/*Barra de menu tamaño y fondo, tambien una configuracion de padding cuando la pantalla es pequeña*/
.cuerpo-menu{
    width: 100%;
    height: 70px;
    background: linear-gradient(10deg, rgb(226, 249, 255), rgb(0, 102, 131));
    padding: 0px 20px;
}



/*Dar forma tambien al menu de barras*/
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

/*Dar altura para que luego pueda reconocer center*/
nav {
    height: 100%;
}

 /*Definir menu principal, para que pueda ponerse en fila*/
nav > ul{
    height: 100%;
    display: flex;
}

/*Relacionar y dar estilo a los opciones de menu principal*/
nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

/*Dar tamaño, imagen para el icono de la pagina*/
nav > ul > li:first-child > a{
    background-image: url(icono_menu.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

/*Dar tamaño, imagen para el icono de la pagina al pulsar*/
nav > ul > li:first-child:hover > a{
    background-image: url(icono_menu.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Dar tamaño y saltar el icono del menu*/
#selected{
    transform: scale(1.1);
    background-color: #00c5fc;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*Dar tamaño, estilo y cetralizar los textos */
nav > ul > li > a{
    height: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    transition: all 300ms ease;
}

/*Dar estilo cuando ponemos el raton encima del menu*/
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #FFD54F;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    text-decoration: none;
}


/*Configuracin de sub menu*/

/*Configurar el submenu tanto el tamaño, color, animacion*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(155, 233, 255), rgb(0, 102, 131));
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

/*Configurar el submenu para luego de poner el raton*/
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

/*Configurar el submenu para luego de poner el raton*/
nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

/*Dar forma y color a los textos de submenu*/
nav ul li ul li a{
    display: block;
    color: white;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms ease;
}

/*Dar forma los textos de submenu cuando pasa el cursor*/
nav ul li ul li a:hover{
    background: #FFD54F;
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#carrito{
    width: 20px;
    height: 20px;
}

/*Menu reponsive*/

/*Configurar la pagina cuando la pagina reduce de tamaño*/
@media screen and (max-width: 720px) {
    /*hace que el menu este uno encima de otro, y configurar su tamaño, color, vibilidad, posicion del menu*/
    nav > ul{
        flex-direction: column;
        background-color: black;
        position: fixed;
        left: 0;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100;
    }

    /*Animacion cuando pasa el cursol encima del menu*/
    nav > ul > li > a:hover{
        transform: scale(1);
    }

    /*Posicion del submenu*/
    nav ul li ul{
        left: 90px;
    }

    /*Posicion del submenu*/
    nav > ul > li:hover ul{
        top: 50px;
    }
    
    main{
        margin-top: 400px;
    }
}


/*Articulos*/




/* Estilos para la campana */
.bell {
    cursor: pointer;
}

/* Estilos para la barra de notificaciones */
.notification-bar {
    position: fixed;
    top: 50px;
    right: 0;
    width: 500px;
    max-height: 300px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    display: none;
    z-index: 9999;
}


/* Estilos para los elementos de la barra de notificaciones */
.notification {
padding: 10px;
border-bottom: 1px solid #f2f2f2;
}

.notification:last-child {
border-bottom: none;
}

