* {
    margin: 0;
    padding: 0;
}

.imagen_tabla {
    height: 100px;
    width: 150px;
}

#sidebar {
    width: 13%;
    height: 100vh;
    background: #343a40;
    background: linear-gradient(10deg, rgb(226, 249, 255), rgb(0, 123, 157));
    min-width: 150px;
}